{% extends 'user/user_base.html' %}

{% block title %}Add Job | Smart Alumni Portal{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div style="padding: 10px; margin-bottom: 20px; border-radius: 5px; 
            background-color: {% if message.tags == 'error' %}#f8d7da{% else %}#d4edda{% endif %}; 
            color: {% if message.tags == 'error' %}#721c24{% else %}#155724{% endif %};">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h2>Add Job</h2>

<form action="{% url 'user:add_job' %}" method="post">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>
    <label for="c_name">Company Name:</label>
    <input type="text" id="c_name" name="c_name" required><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br>
    <label for="salary">Salary</label>
    <input type="text" id="salary" name="salary" required><br>
    <label for="last_date">Last Date:</label>
    <input type="date" id="last_date" name="last_date" required><br>
    <label for="required_skill">Required Skills</label>
    <input type="text" id="required_skills" name="required_skills" required><br>
    <button type="submit">Add Job</button>
</form>

{% endblock %}