{% extends "user_base.html" %}
{% block title %}Add Achievement{% endblock %}

{% block content %}

<div style="display:flex; justify-content:space-between; margin-bottom:20px;">
    <h2>🏆 Add Achievement</h2>
     <div>
        <a href="{% url 'user:home' %}" class="btn">🏠 Home</a>
        <a href="{% url 'user:logout' %}" class="btn btn-danger">🚪 Logout</a>
        <a href="{% url 'user:view_achievement' %}" class="btn">📄 View Achievements</a>
    </div>
    
</div>

<hr>

<div class="card">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Achieved by</label>
        <input type="text" name="achieved_by" required>

        <label>Title</label>
        <input type="text" name="title" required>

        <label>Description</label>
        <textarea name="description" required></textarea>

        <label>Date</label>
        <input type="date" name="created_at" required>

        <label>Upload Certificate</label>
        <input type="file" name="certificate">

        <button type="submit" class="btn btn-success">Add Achievement</button>
    </form>
</div>

{% endblock %}