{% extends "user/user_base.html" %}

{% block title %}Alumni Career Track{% endblock %}

{% block content %}

<h2 style="text-align:center; margin-bottom:20px;">
    Alumni Career Tracking
</h2>

<form method="POST" action = "{% url 'user:search_career_track' %}" style="margin-bottom:20px; text-align:center;">
    {% csrf_token %}
    <input type="text" name="q" placeholder="Search by name, company, job, dept or role"
           value="{{ query|default:'' }}"
           style="padding:8px; width:300px;">

    <button type="submit" style="padding:8px 15px;">Search</button>

    <a href="{% url 'user:alumni_career_track' %}" style="margin-left:10px;">Reset</a>
</form>
<a href="{% url 'user:download_career_track' %}?q={{ query|default:'' }}" 
   style="margin-left:10px; padding:8px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 4px; font-weight: 500;">
   Download Excel/CSV
</a>

<table border="1" cellpadding="10" cellspacing="0"
       style="width:100%; border-collapse:collapse; text-align:center;">

    <tr style="background-color:#f2f2f2;">
        <th>S.No</th>
        <th>Register Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Job Role</th>
        <th>Experience</th>
        <th>Higher Studies</th>
        <th>University</th>
        <th>Referral</th>
    </tr>

    {% for a in alumni %}
    <tr>
        <td>{{ forloop.counter }}</td>

        <td>{{ a.user.register_id }}</td>

        <td>{{ a.user.username }}</td>

        <td>{{ a.company_name|default:"-" }}</td>
        <td>{{ a.job_title|default:"-" }}</td>
        <td>{{ a.experience_year|default:"-" }}</td>

        <td>{{ a.pursuing_degree|default:"-" }}</td>
        <td>{{ a.university|default:"-" }}</td>

        <td>
            {% if a.available_for_referral %}
                <span style="color:green; font-weight:bold;">Available</span>
            {% else %}
                <span style="color:red;">Not Available</span>
            {% endif %}
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="9">No alumni career data available.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}