{% extends 'user/user_base.html' %}

{% block title %}Student Registration{% endblock %}

{% block content %}

{% if messages %}
    <div class="messages-container" style="padding: 20px 20px 0 20px;">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                 style="padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px;
                        {% if message.tags == 'success' %} color: #155724; background-color: #d4edda; border-color: #c3e6cb;
                        {% elif message.tags == 'error' %} color: #721c24; background-color: #f8d7da; border-color: #f5c6cb;
                        {% else %} color: #004085; background-color: #cce5ff; border-color: #b8daff; {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <button onclick="window.history.back()">Back</button>
    <h2>Student Registration</h2>
    <form action="{% url 'user:student_register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Upload Excel Or CSV File:</label>
            <input type="file" name="file" id="file" class="form-control" required>
            <label for="duration">Course Duration (in years):</label>
                <input type="number" name="duration" id="duration" class="form-control" required>
            <label for="department">Department:</label>
            <select name="department" id="department" class="form-control" required>
                <option value="">Select Department</option>
                {% for dept in departments %}
                    <option value="{{ dept.name }}">{{ dept.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Register Students</button>
    </form>
{% endblock %}