{% extends 'user/user_base.html' %}

{% block title %} Welcome To Alumni Portal {% endblock %}

{% block content %}
<div class="navbar">
    <h1>Student Dashboard</h1>

    <ul class="nav-right">
    
        <a href="{% url 'user:logout' %}">Logout</a>
    </ul>
</div>

<div class="main">

    <div class="welcome-box">
        <h2>Welcome, {{user.username}} 👋</h2>
        <p>
            Explore alumni network, apply for internships,
            request mentorship, and view career opportunities.
        </p>
    </div>

    <div class="actions">
        <div class="action-card">
            <h3>🎓 View Alumni</h3>
            <p>Explore registered alumni profiles.</p>
            <a href="/alumnidetail" class="action-btn">View</a>
        </div>

        <div class="action-card">
            <h3>👤 My Profile</h3>
            <p>View and update your personal, academic, and career details.</p>
            <a href="/viewprofile" class="action-btn">Open Profile</a>
        </div>

        <div class="action-card">
            <h3>📅 View Events</h3>
            <p>Discover upcoming college events, alumni meetups, and special programs.</p>
            <a href="/viewevents" class="action-btn">Explore Events</a>
        </div>

        <div class="action-card">
            <h3>🏫 View College Details</h3>
            <p>Explore complete information about the college, including address, contact details, departments, and facilities.</p>
            <a href="/collegedetail" class="action-btn">View Details</a>
        </div>

        <div class="break"></div>

        <div class="action-card">
            <h3>🏢 View Internship</h3>
            <p>Browse available internship opportunities.</p>
            <a href="/internship" class="action-btn">View</a>
        </div>

        <div class="action-card">
            <h3>💼 View Job</h3>
            <p>See job openings posted by alumni.</p>
            <a href="/viewjob" class="action-btn">View</a>
        </div>

        <div class="action-card">
            <h3>🏆 View Achievements</h3>
            <p>Explore outstanding accomplishments, awards, and success stories of our students and alumni.</p>
            <a href="/achievements" class="action-btn">Explore Achievements</a>
        </div>
    </div>
</div>

{% endblock %}