{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <body>

    <section class="hero">
        <h1>Welcome to the Alumni Portal</h1>
        <p>
           Connecting Pas,Present and Future - One Alumni Network.
        </p>
    </section>


    <section class="features">
        <div class="feature-box">
            <h3>Alumni Registration </h3>
            <p>Sign up and join the alumni community.</p>
        </div>
        <div class="feature-box">
            <h3>🎉Events & Reunion </h3>
            <p>Stay updated with reunions, meetups, and college events.</p>
        </div>

        <div class="feature-box">
            <h3>💼 Job Opportunities</h3>
            <p>Explore career openings and internships.</p>
        </div>

        <div class="feature-box">
            <h3>💖 Donations</h3>
            <p>Support students and the institution through scholarships and funding.</p>
        </div>

        <div class="feature-box">
            <h3>Mentorship</h3>
            <p>Get guidance from industry experts and achieve your goals through our mentorship program! 😊</p>
        </div>
    </section>


    <section class="about">
        <h2>About Alumni Portal</h2>
        <p>
            The Alumni Portal is a centralized web platform designed to connect
            students with their institution and with alumnies . It helps alumni share experiences,
            explore career growth, attend events, and build a strong professional network.
        </p>
    </section>

</body>

{% endblock %}